html{
    height: 100%;
}
body{
    font-family: "Calibri", sans-serif;
    margin: 0;
}
.italic{
    font-style: italic;
}
.bold{
    font-weight: bold;
}
.underline{
    text-decoration: underline;
}
.header{
    align-items: center;
    background: #24292e;
    border-bottom: white solid 0px;
    color: white;
    display: flex;
    height: 40px;
    left: 0;
    padding: 16px 32px;
    position: fixed;
    top: 0;
    width: 100%;
}
.header h1{
    font-size: 32px;
    margin: 0 0 0 16px;
}
.logo{
    border-radius: 32px;
    height: auto;
    width: 32px;
}
.main-menu{
    background: #314047;
    color: white;
    position: fixed;
    height: 100%;
    top: 72px;
    width: 200px;
}
.main-menu-items{
    margin-top: 32px;
}
.main-menu-item{
    font-size: 24px;
    padding: 16px 64px 16px 32px;
    white-space: nowrap
}
.main-menu-divider{
    border:  #24292e 1px solid;
    margin: 0 24px;
}
.main-menu-item span {
    color: white;
    cursor: pointer;
    text-decoration: none;
}
.main-menu-item a {
    color: white;
    cursor: pointer;
    text-decoration: none;
}
.main-menu-item span:hover{
    color: lightgray;
    text-decoration: lightgray underline;
}
.main-menu-item a:hover{
    color: lightgray;
    text-decoration: lightgray underline;
}
.main-menu-item .selected{
    color: lightgray;
}
.main-menu-item.bottom{
    bottom: 0;
    position: fixed;
}
.main-content{
    margin: 72px 0 0 200px;
    padding: 32px;
}
.content-page{
    display: none;
}
.selected  {
    display: block;
}
.main-content-header{
    border-bottom: lightgray solid 1px;
    margin-bottom: 32px;
    padding-bottom: 16px;
    width: 50%;
}
.main-content-header h2{
    font-size: 2em;
    margin: 0;
}
.main-content-header p{
    margin: 8px 0 8px 0;
}
.card{
    border: lightgray solid 1px;
    border-radius: 16px;
    margin-bottom: 32px;
    padding: 16px;
}
.card textarea{
    height: 100px;
    resize: vertical;
    width: 100%;
}
.cards-toolbar ul{
    padding: 0;
}
.cards-toolbar ul li{
    border: lightgray solid 1px;
    border-radius: 16px;
    color: royalblue;
    cursor: pointer;
    display:inline;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 24px;
}
.cards-toolbar ul li:hover{
    background-color: royalblue;
    color: white;
}
input[type="submit"], button{
    background-color: lightgrey;
    border: lightgray solid 1px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 8px;
    padding: 4px 12px;
}
@media (max-width: 1200px) {
    .main-content-header{
        width: auto;
    }
}
@media (max-width: 800px) {
    body{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: min-content min-content auto;
    }
    .header{
        grid-row: 1;
        position: static;
        width: auto;
    }
    .main-menu {
        grid-row: 2;
        position: static;
        width: 100%;
    }
    .main-content{
        grid-row: 3;
        margin: 0;
        position: static;
        width: auto;
    }
    .main-menu-items{
        margin-top: 0;
    }
    .main-menu-item.bottom{
        position: static;
    }
}

