html{
    height: 100%;
}
body{
    font-family: "Calibri", sans-serif;
    margin: 0;
}
.italic{
    font-style: italic;
}
.bold{
    font-weight: bold;
}
.underline{
    text-decoration: underline;
}
.header{
    align-items: center;
    background: #24292e;
    border-bottom: white solid 0px;
    color: white;
    display: flex;
    height: 40px;
    left: 0;
    padding: 16px 32px;
    position: fixed;
    top: 0;
    width: 100%;
}
.header h1{
    font-size: 32px;
    margin: 0 0 0 16px;
}
.logo{
    border-radius: 32px;
    height: auto;
    width: 32px;
}
.main-menu{
    background: #314047;
    color: white;
    position: fixed;
    height: 100%;
    top: 72px;
    width: 200px;
}
.main-menu-items{
    margin-top: 32px;
}
.main-menu-item{
    font-size: 24px;
    padding: 16px 64px 16px 32px;
    white-space: nowrap
}
.main-menu-item span {
    color: white;
    cursor: pointer;
    text-decoration: none;
}
.main-menu-item a {
    color: white;
    cursor: pointer;
    text-decoration: none;
}
.main-menu-item span:hover{
    color: lightgray;
    text-decoration: lightgray underline;
}
.main-menu-item a:hover{
    color: lightgray;
    text-decoration: lightgray underline;
}
.main-menu-item .selected{
    color: lightgray;
}
.bottom{
    position: static;
}
.main-content{
    margin: 72px 0 0 200px;
    padding: 32px;
}
.content-page{
    display: none;
}
.selected  {
    display: block;
}
.main-content-header{
    border-bottom: lightgray solid 1px;
    margin-bottom: 32px;
    padding-bottom: 16px;
    width: 50%;
}
.main-content-header h2{
    font-size: 2em;
    margin: 0;
}
.main-content-header p{
    margin: 8px 0 8px 0;
}
.about{
    align-items: center;
}
.cv{
    border: lightgray solid 1px;
    border-radius: 16px;
    margin: 0 auto 32px auto;
    padding: 16px;
    width: 60%;
}
.cv h2{
    font-size: 2em;
    margin: 0;
    text-align: center;
}
.cv h3{
    margin: 0 0 8px 0;
}
.cv ul{
    margin: 0;
}
.cv-header{
    border-bottom: gray solid 2px;
    padding-bottom: 8px;
}
.cv-body{
    padding: 0 16px;
}
.cv-section{
    border-bottom: lightgray solid 1px;
    padding: 16px;
}
.cv-footer{
    padding: 16px 0 0 0;
    text-align: center;
}
.section-divider{
    border: lightgrey 1px solid;
    margin: 0 16px;
}
article{
    border: lightgray solid 1px;
    border-radius: 16px;
    margin-bottom: 32px;
    padding: 16px;
}
article section{
    margin: 0 16px 16px 16px;
}
article h2{
    margin: 0;
}
article h3{
    margin: 16px  0 0 0 ;
}
article p{
    margin: 0;
}
article ul{
    margin: 0;
}
article a{
    color: royalblue;
    font-weight: bold;
}
article a:hover{
    color: red;
}
article footer{
    margin-top: 16px;
    text-align: right;
}
article footer p{
    font-style: italic;
}
article footer a{
    color: royalblue;
    font-size: 18px;
    font-weight: bold;
}
article footer a:hover{
    color: red;
}
.services-table{
    border: lightgray solid 1px;
    border-collapse: separate;
    border-radius: 16px;
    border-spacing: 0;
    width: 100%;
}
.services-table th{
    text-align: center;
}
.services-table td, th{
    border-bottom: lightgray solid 1px;
    padding: 16px 16px;
    margin: 0;
}
.services-table tr:last-child td{
    border-bottom: none;
}
.services-table .col-platform{
    padding: 16px 32px;
    text-align: center;
}
.services-table .col-order{
    border-bottom: none;
    padding: 16px 32px;
    text-align: center;
}
.services-table .col-order a{
    color: royalblue;
    font-size: 18px;
    font-weight: bold;
}
.services-table .col-order a:hover{
    color: red;
}
.contact{
    border: #d3d3d3 solid 1px;
    border-radius: 16px;
    margin: 20% auto 0 auto;
    padding: 16px;
    width: 40%;
}
.contact-header{
    border-bottom: gray solid 2px;
    padding-bottom: 8px;
    text-align: center;
}
.contact h2{
    font-size: 2em;
    margin: 0;
    text-align: center;
}
.contact ul{
    list-style-type: none;
    padding: 0;
    text-align: center;
}
.contact ul li{
    margin: 12px 0;
}
.contact a{
    color: royalblue;
    font-size: 18px;
    font-weight: bold;
}
.contact a:hover{
    color: red;
}
@media (max-width: 1200px) {
    .cv{
        width: auto;
    }
    .main-content-header{
        width: auto;
    }
}

@media (max-width: 800px) {
    body{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: min-content min-content auto;
    }
    .header{
        grid-row: 1;
        position: static;
        width: auto;
    }
    .main-menu {
        grid-row: 2;
        position: static;
        width: 100%;
    }
    .main-content{
        grid-row: 3;
        margin: 0;
        position: static;
        width: auto;
    }
    .main-menu-items{
        margin-top: 0;
    }
    .bottom{
        position: static;
    }
    .contact{
        margin: auto;
        width: auto;
    }
}
